.idea/
.gradle
/gradle
*.iml
target
gradlew
gradlew.bat
so-context/build/classes/main/com/pineone/icbms/so/context/Context.class
so-context/build/classes/main/com/pineone/icbms/so/context/ContextType.class
so-context/build/classes/main/com/pineone/icbms/so/context/DataValidation.class
so-context/build/classes/main/com/pineone/icbms/so/context/GeneralContext.class
so-context/build/classes/main/com/pineone/icbms/so/context/device/CompositeVirtualObject.class
so-context/build/classes/main/com/pineone/icbms/so/context/device/ConceptService.class
so-context/build/classes/main/com/pineone/icbms/so/context/device/DeviceCenter.class
so-context/build/classes/main/com/pineone/icbms/so/context/device/DeviceObject.class
so-context/build/classes/main/com/pineone/icbms/so/context/device/HanyangConceptService.class
so-context/build/classes/main/com/pineone/icbms/so/context/device/TempConceptService.class
so-context/build/classes/main/com/pineone/icbms/so/context/device/VirtualObject.class
so-context/build/classes/main/com/pineone/icbms/so/context/exception/DataLossException.class
so-context/build/classes/main/com/pineone/icbms/so/context/external/AddressStore.class
so-context/build/classes/main/com/pineone/icbms/so/context/external/itf/database/DatabaseInterface.class
so-context/build/classes/main/com/pineone/icbms/so/context/external/itf/database/MapController.class
so-context/build/classes/main/com/pineone/icbms/so/context/external/itf/sda/ContextAddress.class
so-context/build/classes/main/com/pineone/icbms/so/context/external/itf/sda/ContextInterface.class
so-context/build/classes/main/com/pineone/icbms/so/context/external/itf/sda/SdaController.class
so-context/build/classes/main/com/pineone/icbms/so/context/external/itf/user/ResponseMessageToUser.class
so-context/build/classes/main/com/pineone/icbms/so/context/external/itf/user/UserController.class
so-context/build/classes/main/com/pineone/icbms/so/context/util/ClientService.class
so-context/build/classes/main/com/pineone/icbms/so/context/util/DataConversion.class
so-context/build/classes/test/com/pineone/icbms/so/ContextUserTest.class
